<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="KhaosVoidPackages" value="https://nuget.pkg.github.com/KhaosVoid/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<KhaosVoidPackages>
			<add key="Username" value="Anonymous" />
			<add key="ClearTextPassword" value="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" />
		</KhaosVoidPackages>
	</packageSourceCredentials>
	<config>
		<add key="globalPackagesFolder" value="packages" />
	</config>
</configuration>